* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 4fr 15fr;
}

aside {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #21aaef;
    
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    gap: 15px;

    padding-left: 10px;
    padding-top: 10px;
}

header {
    background-color: #f5f5f5;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 2fr 3fr;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #dde5eb;

    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    gap: 40px;
}

aside > div {
    display: grid;
    align-content: start;
    gap: 10px;
    color: #f5f5f5;
    font-size: 20px;
}

header > div:first-child { 
    display: grid;
    grid-template-columns: 1fr 7fr 4fr 2fr 4fr;
}

header > div:last-child {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

main > section:first-child > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}

h2 {
    margin: 12px 0;
    font-weight: 100;
}

main > section:last-child {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: #f5f5f5;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1em;
}

#announcements > article + article {
    border-top: 1px solid gray;
    padding-top: 10px;
}

#announcements > article > p {
    font-size: 12px;
}

#announcements > article {
    padding: 10px;
}

h3 {
    font-size: 16px;
    padding-bottom: 2px;
}

#trending > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

#trending > div > div {
    grid-row: 1 / 3;
}

.icons > img {
    height: 20px;
}

#projects > article {
    border-radius: 1em;
    background-color: #f5f5f5;
    border-left: 1em solid orange;
    padding: 35px;
    position: relative;
}

#projects > article > div {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#projects > article > p {
    padding-bottom: 15px;
}